/node_modules
/public/build
/public/hot
/public/storage
/public/mix-manifest.json
/public/css/app.css
/public/css/app.css.map
/public/css/custom.css
/public/css/custom.css.map
/public/js/app.js
/public/js/app.js.map
/public/js/app.js.LICENSE.txt
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
